body{
    color: black;
}

#Head{
    background-color: red;
    color:white;
}

a #Head{
    color:white;
}

a:hover #Head{
    color:white;
}

#Menu{
    color: black;
}

#Footer{
    background-color: red;
    color:white
}

a:hover #Footer{
    color:white;
}

#Covid{
    background-color: orange;
}

#DeroulantInstitut, #DeroulantFormations, #DeroulantEntreprises, #DeroulantInternational, #DeroulantVieIUT{
    display: none;
}

#Institut:hover #DeroulantInstitut{
    display: block;
}

#Formations:hover #DeroulantFormations{
    display: block;
}

#Entreprises:hover #DeroulantEntreprises{
    display: block;
}

#International:hover #DeroulantInternational{
    display: block;
}

#VieIUT:hover #DeroulantVieIUT{
    display: block;
}

.orangeSection{
    color:white;
    background-color: orange;
}
