/*Feuille de style*/

@font-face{
    font-family: mapoliceperso;
    src: url(Shink.otf);
}

/* --------- GLOBALE --------- */

body, html{
    margin :0;
    padding:0;
    
}

*{
    margin:0;
    padding:0;
    outline:0;
    box-sizing: border-box;
}

body{
    min-height: 100%;
    margin: 0px;
    padding:0px;
    background-color: #D9D2D3;
    background-image: url(fond2.jpg);
}

/* --------- HEADER --------- */

header{
    display: flex;
    justify-content: center;
    overflow : hidden;
    background-image: linear-gradient(#E4EAF2,#D9D2D3);
    margin:1%; 
}

#logo{
    margin: 20px;
    padding: 20px 0px 0px 0px;
    width: 250px;        
}

#nom{
    text-align: center;
    color: black;
}

/* --------- NAV --------- */

nav{
    width: 100%;
    background-color: #222538;
    margin: 10px 0px 10px 0px;
}

nav ul {
    margin:0px;
    padding:0px;
}

nav li{
    list-style-type: none; /* pour les listes et les sous-listes*/
}

nav ul li{
    float: left;
    position:relative;
}

nav ul::after{
    content:""; /*contenu qui suis entre chaque élément*/
    display: table;
    clear:both;
}

nav input[type=checkbox]{
    display:none;
} 

nav label{
    display: none;
}

nav a{
    display: inline-block;
    text-decoration: none;
}

nav ul li a{
    padding: 20px 30px;
    color: #FFF;
}

nav ul li:hover a{
    padding: 15px 30px 20px 30px;
}

/* ---------sous-nav--------- */

nav li:hover .snav{
    display: inline-block;
    position: absolute;
    top: 100%;
    left: 0px;
    padding:0px;
    z-index: 1000; 
}

.snav{
    display:none;
}

.snav li a{
    padding: 15px 30px;
    font-size: 13px;
    color: black;
    width: 270px;
    font-family: mapoliceperso;
    font-style:italic; 
}

.snav li{
    border-bottom: 1px solid #CCC;
}

.accueil-css:hover, .accueil-css:hover >a{
    border-top: 3px solid #cc97cf;
    background-color: RGBa(204, 151, 207,0.15);
    text-decoration: none;
    color:white;
}

.comp-css:hover, .comp-css:hover a{
    border-top: 3px solid #d2ea51;
    background-color: RGBa(210, 234, 81,0.15);
    text-decoration: none;
    color:white;
    
}

.exp-css:hover, .exp-css:hover a{
    border-top: 3px solid #c333b2;
    background-color: RGBa(195, 51, 178,0.15);
    text-decoration: none;
    color:white;
}

.active:hover, .active:hover > a{
    border-top: 3px solid #97a1cf;
    background-color: RGBa(151, 161, 207,0.15);
    text-decoration: none;
    color:white;
}

.accueil-css .snav{
    background-color: #808080;
}

.active .snav{
    background-color: #808080;
}

.snav li:hover a {
    color: #EEE;
    font-weight: bold;
    text-decoration: none;
}

.accueil-css .snav li:hover{
    background-color: #da92de;
}

.active .snav li:hover{
    background-color: #97a1cf;
}

nav input[type=checkbox]:checked ~ ul{
    display: block;
}

/* --------- CONTENU --------- */

.container-fluid{
    background-image: url(fond2.jpg);
}

.jumbotron{
    background-color: #8C686E; /*#85C5FF*/
    padding: 2%;
    margin: 2% 1% 2% 1%;
}

.container{
    border: 1px solid black;
    border-radius: 6px;
    background-color: #FFF;
    box-shadow: 4px 4px 2px grey;          
}
        

/* --------- Article --------- */  

article{
    background-color: #E4EAF2;
    margin: 4% 2% 2% 2%;
    border-width: 0.1em;
    border-radius: 6px;
    box-shadow: 2px 2px 1px grey;
    padding: 0.01% 1% 1% 1%;
}

article li{
    list-style-type: none;
}
     
p{
    margin: 0% 0% 0.5% 0%;
    padding: 2% 2% 2% 2%; 
}

h3{
    padding: 0% 0% 0% 2%;
}

h2{
    padding: 0% 0% 0% 4%;
}

/* --------- Section --------- */ 

#sec1 > h1{
    text-decoration: underline;
    text-align: center;
    padding: 0% 0% 0% 5%;
}

#sec1 > p{
    padding: 1% 0% 0% 3%;
    text-align: center;
}

/*------- Loisirs -------*/

.img{
    margin: 1% 0% 1% 0%;
}

.gris div img {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.gris div:hover img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
   
}

#overlay-image .img{
 display: block;
 width: 100%;
 height: auto;
}

#overlay-image .text{
    color: #fff;
    font-size: 25px;
    text-shadow: 2px 2px 2px #000;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    font-family: mapoliceperso;
}

.text{
    display: none;
}

#overlay-image:hover .text{
    display: block;
    
}

/*------- liste compétences -------*/

.outil{
    border: 7px double black;
    padding: 2% 0% 2% 5%;
}


/* --------- Tableau(Dessin) --------- */ 

table.Table {
 /* border: 10px solid #FFF;*/
  width: 100%;
  text-align: center;
  border: 10px;
}

table.Table td, table.Table th{
  border: 1px solid black;
  padding: 5px 5px;
}

table.Table tbody td{
  font-size: 14px;
}


/*colore les ligne paire du tableau*/
tr:nth-child(even){
    background-color: #DFD3D5 ;
}

.art img{
    margin: 1% 0% 2% 2%;
}

caption{
    padding: 10px;
    caption-side: bottom;
    text-align: center;
}

.domaine{
    background-color: #DFD3D5;
}

/* ---------Contacter ---------*/

.contact-avec {
    margin-top: 25px;
    padding: 20px; 
}

div#OU {
    height: 30px;
    width: 30px;
    border: 1px solid #C2C2C2;
    border-radius: 50%;
    font-weight: bold;
    line-height: 28px;
    text-align: center;
    font-size: 12px;
    float: right;
    position: absolute;
    right: -16px;
    top: 40%;
    z-index: 1;
    background: #DFDFDF;
}

.bouton{
    margin: 0% 0% 1% 0%;
}

legend{
    margin: 1%;
    color: black; 
}   

/* --------- FOOTER --------- */     

footer{
    margin : 1%;
    color: inherit; 
}

footer p{
    margin: 1% 0% 1% 0%;
    padding: 0%;
    text-align: center;
}

footer a, footer a:hover{
    margin: 1% 0% 1% 0%;
    padding: 0%;
    text-align: center;
    color: black;
    text-decoration: none;
}




/* --------- RESPONSIVITÉ--------- */   
        
@media screen and (max-width: 540px) { 
    
    /*-- Header --*/
    #logo{
        display: none; 
    }
    
    #nom{
        font-size: 18px;
    }
    
    /*-- Globale --*/
    h1{
        font-size: 18px;
        font-weight: bold;
    }
    
    h2{
        font-size:16px;
        font-weight: bold;
        padding: 0% 0% 0% 3%;
    }
    
    h3{
        font-size: 14px;
        text-align: center;
    } 

    p,a{
        font-size: 12px;
    }
    
    /*-- Menu mobile --*/
    .menu-mobile{
        display: block;
        color: white;
        background-color:#932987;
        text-align: center;
        padding: 12px 0px;
    }
    
    nav ul {
        display: none;
    }
    
    nav ul li,nav ul li a{
        width: 100%;
        text-align: center;
    }
    
    nav ul li a, nav ul li:hover a{
         padding: 10px 0px;
    }
    
    nav li:hover .snav{
        display: block;
        position: static;
    }
    
    /*-- page accueil --*/
    #carte{
        width: 50%;
        height:50%;
    }
    
    .perso{
        width: 50%;
        height: 50%;
    }
    
    /*-- page jeux --*/
    #Osu{
       display: none;
    }

    /*-- page dessin --*/
    .art img{
        width: 80%;
    }
      
}

@media screen and (max-width: 780px){
    
    /*-- Header --*/
    #logo{
        display: none; 
    }
    
    #nom{
        font-size: 20px;
        text-align: center;
    }
    
    /*-- Globale --*/
    h1{
        font-size: 20px;
        font-weight: bold;
    }
    
    h2{
        font-size:18px;
        font-weight: bold;
        padding: 0% 0% 0% 3%;
    }   
    
    h3{
        font-size: 16px;
        text-align: center;
    }
    
    p,a{
        font-size: 14px;
    }
    
        /*-- Menu mobile --*/
    
    .menu-mobile{
        display: block;
        color: white;
        background-color:#932987;
        text-align: center;
        padding: 12px 0px;
    }
    
    nav ul{
        display: none;
    }
    
    nav ul li,nav ul li a{
        width: 100%;
        text-align: center;
    }
    
    nav ul li a, nav ul li:hover a{
         padding: 10px 0px;
    }
    
    nav li:hover .snav{
        display: block;
        position: static; 
    }
    
    /* --- Page accueil --- */
    #carte{
        width: 70%;
    }
}

.counter {
  display: table-cell;
  margin:1.5%;
  font-size:50px;
  background-color: #FF6F6F;
  width:200px;
  border-radius: 50%;
  height:200px;
  vertical-align: middle;
}
